.btn {
    border-radius: 999px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.secondary {
    background: #e0e3e5;
    color: #191c1e;

    border: 1px solid #6e7881;
}

.outline {
    background: #ffffff;
    color: #191c1e;

    border: 1px solid #6e7881;
}

.primary {
    background: #101418;
    color: #ffffff;

    border: 1px solid #101418;
}

.full-width {
    width: 100%;
}

.icon {
    font-size: 20px;
    line-height: 1;
}

.btn-label {
    display: flex;
    align-items: center;
}

.btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.btn-sm {
    height: 40px;
    padding: 0 18px;
}

.btn-md {
    height: 48px;
    padding: 0 24px;
}

.btn-lg {
    height: 56px;
    padding: 0 32px;
}

.spinner {
    display: inline-flex;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}