@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #f7f9fb;

    --font-size-sm: 12px;
    --font-size-md: 14px;
    --font-size-lg: 16px;
    --font-size-xl: 24px;
    --font-size-xxl: 32px;

    --text-primary: #191c1e;
    --text-secondary: #3e4850;
    --text-secondary-light: #eceef0;

    --border-color: #6E7881;
    --border-dark: #BEC8D2;

    --progress-fill: #6e7881;
    --progress-track: #e0e3e5;

    --button-bg: #E0E3E5;
    --button-border: #6E7881;

    --border: 1px solid #E0E3E5;
    --border-radius-xs: 2px;
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 16px;

    --primary: #0ea5e9;

    --header-height: 64px;
    --footer-height: 66px;

    --content-padding: 24px;
}

html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: var(--bg);
}