<div class="input-wrapper" [formGroup]="formGroup">
    <label [for]="name">{{ label }}</label>

    <div class="input-field" [class.error]="hasError">
        <input [id]="name" [type]="showPassword ? 'text' : 'password'" [placeholder]="placeholder" class="input"
            [formControlName]="name" />
        <button type="button" class="toggle-btn" (click)="toggle()"
            [attr.aria-label]="showPassword ? 'Hide password' : 'Show password'">
            <span class="material-symbols-rounded">
                {{ showPassword ? 'visibility_off' : 'visibility' }}
            </span>
        </button>
    </div>

    @if (hasError) {
    <p>{{ errorMessage }}</p>
    }
</div>