<header class="app-wrapper">
    <div class="app-header">
        <button class="menu-button">
            <span class="material-symbols-rounded">menu</span>
        </button>
        <h1 class="header-title">TaskSpace</h1>
        <div class="header-actions">
            <button class="search-button">
                <span class="material-symbols-rounded icon">search</span>
            </button>

            <button class="user-button">
                <span class="material-symbols-rounded user-icon">person</span>
            </button>

            <button class="logout-button" (click)="logout()">
                <span class="material-symbols-rounded icon">logout</span>
            </button>
        </div>
    </div>
</header>